{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div>
        <h1>{{profile_user.username}}</h1>
        <h5>{{profile_user.profile.location}}</h5>
        <p class="follower-count">Followers:{{followers}} Following:{{following}}</p>
        <p>{{profile_user.profile.bio}}</p>

        
        {% if user != profile_user %}
            <form class="follow-form" data-user-id="{{profile_user.id}}" data-url="{% url 'toggle_follow' profile_user.id %}" method="POST">
                {% csrf_token %}
                
                <button type="submit">
                    {% if is_following %}
                        <span class="follow-label">Unfollow</span>
                    {% else %}
                        <span class="follow-label">Follow</span>
                    {% endif %}   
                </button>
            </form>   
        {% endif %}   
    </div>
    <div>
        {% for tweet in page_obj %}
            <p>{{tweet.content}}</p>
        {% endfor %}
        
        <div>
            
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
                
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelectorAll('.follow-form').forEach((form)=>{
            form.addEventListener('submit', function(event){
                event.preventDefault();

                {% if not user.is_authenticated %}
                    window.location.href = "{% url 'login' %}";
                    return;
                {% endif %}

                fetch(form.dataset.url, {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                }).then(response => response.json()).then(data => {
                    const label = form.querySelector('.follow-label');
                    const count = document.querySelector('.follower-count');
                    label.textContent = data.is_follow ? 'Unfollow' : 'Follow';
                    count.textContent = `Followers: ${data.follower_count} Following: {{ following }}`;
                })
            })
        })
    </script>
{% endblock %}