{% extends 'base.html' %}

{% block title %}
    Feed
{% endblock %}

{% block content %}

    {% for tweet in tweets %}
        <div>
            <h2>{{tweet.author.username}}</h2>
            <p>{{tweet.content}}</p>
        </div>
        
        
        {% if tweet.author == user %}
            <a href="{% url 'edit_tweet' tweet.id %}">Edit</a>
            <form onsubmit="return confirm('Are you sure you want to delete this tweet?')" action="{% url 'delete_tweet' tweet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}            

        {% empty %}
                <p>No tweets yet.</p>
    {% endfor %}

{% endblock %}