{% extends 'base.html' %}

{% block title %}
    Feed
{% endblock %}

{% block content %}

    <form action="{% url 'search' %}" method="GET">
        <input type="text" name="q" placeholder="Search tweets...">
        <button type="submit">Search</button>
    </form>

    {% for tweet in tweets %}
        <div>
            <a href="{% url 'profile' tweet.author.username %}"><h2>{{tweet.author.username}}</h2></a>
            <p>{{tweet.content}}</p>
            <form class="like-form" data-tweet-id="{{tweet.id}}" data-url="{% url 'toggle_like' tweet.id %}" method="POST">
                {% csrf_token %}
                
                <button class="like-btn" type="submit">
                    {% if tweet.id in liked_tweet_ids %}
                        <span class="like-label">Unlike</span>
                    {% else %}
                        <span class="like-label">Like</span>
                    {% endif %}
                    (<span class="like-count">{{ tweet.likes.count }}</span>)
                </button>

                <a href="{%url 'comment_section' tweet.id%}">{{tweet.comments.count}} Comments</a>
            </form>
        </div>
        
        
        <!-- {% if tweet.author != user %}
            <form action="{% url 'toggle_follow' tweet.author.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Follow/Unfollow</button>
            </form>
        {% endif %} -->
            
        
        {% if tweet.author == user %}
            <a href="{% url 'edit_tweet' tweet.id %}">Edit</a>
            <form onsubmit="return confirm('Are you sure you want to delete this tweet?')" action="{% url 'delete_tweet' tweet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}            

        {% empty %}
                <p>No tweets yet.</p>
    {% endfor %}

{% endblock %}



{% block scripts %}
    <script>
        document.querySelectorAll(".like-form").forEach((form)=>{
            form.addEventListener('submit', function(event){
                event.preventDefault();

                fetch(form.dataset.url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                }).then(response => response.json()).then(data => {
                    const label = form.querySelector('.like-label');
                    const count = form.querySelector('.like-count');
                    label.textContent = data.liked ? 'Unlike' : 'Like';
                    count.textContent = data.like_count;
                })
            })
        })
    </script>
{% endblock %}