{% extends 'base.html' %}

{% block title %}
    Feed
{% endblock %}

{% block content %}

    {% for tweet in tweets %}
        <div>
            <a href="{% url 'profile' tweet.author.username %}"><h2>{{tweet.author.username}}</h2></a>
            <p>{{tweet.content}}</p>
            <form action="{% url 'toggle_like' tweet.id %}" method="POST">
                {% csrf_token %}
                
                {% if tweet.id in liked_tweet_ids %}
                    <button type="submit">Unlike {{tweet.likes.count}}</button>
                {% else %}
                    <button type="submit">Like {{tweet.likes.count}}</button>
                {% endif %}
                    
            </form>
        </div>
        
        
        {% if tweet.author != user %}
            <form action="{% url 'toggle_follow' tweet.author.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Follow/Unfollow</button>
            </form>
        {% endif %}
            
        
        {% if tweet.author == user %}
            <a href="{% url 'edit_tweet' tweet.id %}">Edit</a>
            <form onsubmit="return confirm('Are you sure you want to delete this tweet?')" action="{% url 'delete_tweet' tweet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}            

        {% empty %}
                <p>No tweets yet.</p>
    {% endfor %}

{% endblock %}