{% extends 'base.html' %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <h2>Results for: {{query}}</h2>

    {% for tweet in page_obj %}
        <div>
            <a href="{% url 'profile' tweet.author.username %}">{{tweet.author.username}}</a>
            <p>{{tweet.content}}</p>
        </div>
        {% empty %}
            <p>No content found.!</p>
    {% endfor %}

    <div>
        
        {% if page_obj.has_previous %}
            <a href="?q={{query}}&page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        
        {% if page_obj.has_next %}
            <a href="?q={{query}}&page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
            
    </div>

{% endblock %}